<div class="mt-4">
<form method="GET" action="">
  <div class="form-group">
    <label for="exampleInputEmail1">Tìm kiếm</label>
    <input type="text" name="n" class="form-control" id="text-search" aria-describedby="emailHelp" placeholder="Nhập từ khóa ...">
  </div>

  <div class="form-selection">
    <label for="exampleInputEmail1">lựa chọn</label>
    <select name="" id="">
        <option value="">--chọn giới tính--</option>
        <option value="man">Nam</option>
        <option value="woman">Nữ</option>
     </select>
  </div>
 
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>